<div class="kpi-grid">
  <div
    *ngFor="let card of cards"
    class="kpi-card"
    [ngClass]="card.colorClass"
    (click)="onCardClick()"
    title="Ver gráficos detallados"
  >
    <div class="kpi-card__top">
      <span class="material-icons kpi-card__icon">{{ card.icon }}</span>
      <span class="kpi-card__chart-hint material-icons">bar_chart</span>
    </div>
    <p class="kpi-card__label">{{ card.label }}</p>
    <h3 class="kpi-card__value">{{ card.value }}</h3>
    <p class="kpi-card__trend">{{ card.trend }}</p>
  </div>
</div>
 